*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px
}
body{background: #f0f3f6}
.container-main{padding: 25px 150px;  color:#5c5d5d;}
.fa-arrow-left{color: #0eb1f2}
.container-main h4{text-align: center}
.main-content{margin: 0 auto; max-width: 650px; height: auto; margin-top: 30px; position: relative;}
.learn-by-heart{height: 40px; ;background: white; padding:0 20px; line-height: 40px; border-radius:4px;
border: 1px solid #dddfe0; display: flex; }
.learn-by-heart span:nth-child(2){font-size: 18px}
.learn-left{flex: 20%}
.learn-right{flex:80%; position: relative;}
.percent-above{background: #0aacf6; height: 7px;width: 20%;border-radius:4px; position: absolute;top: 15px; z-index: 1; }
.percent-upper{background: #bebfbf; height: 2px; width: 100%;position: absolute; top: 17px}
.percent-upper-right{height: 7px;width: 7px; border-radius:50% ; background:#bebfbf; position: absolute;right: 0px;top: 14px}
.main-left{float: left;width: 80%; margin-bottom: 25px}
.main-right{float: left; width: 10%;margin-left:40px}
.btn{height: 35px;background: white; border: 1px solid #dddfe0;margin-top: 3px}
.drop{border: 1px solid #dddfe0;background: white;width: 85px; padding: 10px; z-index: 9999 }
.drop a{ padding: 5px 0; font-size: 12px; width: 100%;display: block}
.slideshow-container{position: relative;width: 100%;}
.audio{position: absolute; top:80px;right: 0}
.prev {cursor: pointer;position: absolute;top: 45%;color: white;left: -20px;transition: 0.6s ease;
    }
.next {cursor: pointer;position: absolute;top: 45%;color: white;right: -20px;transition: 0.6s ease;
    }
.list-button{position: absolute; top: 13%; right: -20%;}
.list-button ul{list-style: none;}
.list-button li{padding: 7px; cursor: pointer;}
.list-button img{width: 25px;}
@media screen and (max-width: 900px) {
   .container-main{padding: 50px}
   .list-button{display: none;}
   .learn-left{flex: 25%}
   .learn-right{flex: 75%}
}
@media screen and (min-width: 900px) {
    
    .button-fixed{display: none;}
    
 }
@media screen and (max-width: 650px) {
    
    .main-left{width: 100%;}
    .main-right{display: none;}
 }
 @media screen and (max-width: 500px) {
    
    .learn-left{flex: 40%}
    .learn-right{flex: 60%}
 }
.plip-cards{height: 40px; background:#ecedee; text-align: center;line-height: 40px; border: 1px solid #dddfe0;
     border-bottom-left-radius: 5px; border-bottom-right-radius:5px  }
     .mySlides {
        border: 1px solid #CCC;
      perspective: 600px;
      }


      
div.callout {
    height: auto;
	width: 200px;
	float: left;
	background-color: white;
	position: absolute;
	color:#5c5d5d ;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 20px #e3e6e8;
	margin: 25px;
	min-height: 50px;
    border: 1px solid #dddfe0;
    right: -75%;
    top: 80%;
    display: none;
}
.callout::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
}
.callout.bottom::before {
	left: 80%;
	top: -20px;
	border-bottom: 10px solid #fff;
}
.speed{position: relative;padding: 5px 0;}
.speed-left{height: 2px;width: 30%;background: #0badf5; position: absolute;z-index: 1;}
.speed-circle{height: 5px;width: 5px;border-radius: 50%; background:#0badf5; position: absolute; z-index: 5;top:3px; left: 30%;}
.speed-right{width: 100%; height: 1px; background: #dddddd; position: absolute;}
.switch{position: relative; height: 20px;width: 40px;margin-left: 70px}
.switch input { opacity: 0;width: 0;height: 0;}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 14px;
    left: 0px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .change{background: #e4e4e4}
  .change1{background: #fff}
  .sound{padding: 10px 0px 0px 0px}
  .before-after{display: flex}
  .before{flex: 50%;text-align: center;height: 30px;line-height: 30px;cursor: pointer;background-color: #e4e4e4;}
  .after{flex: 50%; text-align: center; height: 30px;line-height: 30px; cursor: pointer;}
  /* .before:hover{background:#e4e4e4}
  .after:hover{background:#e4e4e4} */
  .list{background:#e4e4e4;padding: 10px;/* display: none; */}
  .list1{background:#e4e4e4; padding: 10px;display: none; }
  .button-check{color: #ababab;margin-top: 10px;position: relative;cursor: pointer;}
  .check{border: 1px solid #e9eaeb;background: white;width: 20px;height: 20px;border-radius:4px;color: #29bdf2; position: absolute; border: 1px solid #9a9a9a}
  .distant{margin-left: 30px}
  .fa-check{display: none;}
  .remember-forget{display: flex;margin-top: 30px}
  .remember{flex: 50%; text-align: center}
  .forget{flex: 50%; text-align: center}
  .list-button-fixed{position: absolute;right: 7px; top: 60px; display: none; cursor: pointer;}
  .list-button-fixed ul{list-style: none;}
  .list-button-fixed li{padding: 7px; display: inline;}
  .list-button-fixed img{width: 20Px;}
  .button-fixed{color:#2196F3; font-size: 18px;}
  .button-fixed button{width: 25px;height: 25px; background: white; border: 1px solid #2196F3; line-height: 25px; position: absolute;
top: 20px; right: 50px;border-radius: 5px }
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */

.modal-content {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%
    }
    
}

.callout-modal{margin: 10px 100px; padding: 10px 20px; border-radius:5px }
