*{margin: 0px;padding: 0px;box-sizing: border-box}

body{font-size: 15px; background: #f0f3f6}

.top-menu{height: auto;background:linear-gradient(to right,#0C87F4, #0daff4, #BDDBF6) ; padding: 10px 0px;}

.top-menu .minder, .footer .minder{color: white; font-size: 20px; display: inline;margin-left: 10px;}

.btn-primary{background: #0C87F4; padding: 8px 14px; border: 1px solid #009eff; outline: none}

.top-menu input{padding: 8px 14px;margin-left: 20px; border-radius:5px; outline: none; border: none; width: 300px;}

.top-menu .fa-search{transform: translateX(-26px); font-size: 16px}

::placeholder {color: orange;opacity: 0.5;font-size: 12px}

.btn-default{background: #009eff; border: 1px solid #009eff; outline: none; color: white; margin-left: 20px }

.btn:hover{background:#009eff; border: 1px solid #009eff; color: white}

.sidenav{height: 100%;width: 250px;display: none; position: fixed;z-index: 200;top: 0;background: linear-gradient(#0C87F4, #0daff4, #BDDBF6); left: 0;overflow-x: hidden; transition: .5s; border-right: 1px solid #e8eaed}
.sidenav a{display: block; padding: 15px 5px; color: white; font-size: 15px}
.sidenav a:hover{text-decoration: none}
 .close{background: white; width: 100%; position: relative;opacity: 1;}
 .menu_hide{margin-top: 70px; padding-left: 20px}

.sidenav .closebtn{position: absolute; top: 10px; right: 10px; font-size: 35px; color: steelblue}


.kanji-word{background: white; border: 1px solid #e8eaed; padding: 10px 0}

.fa-chevron-left{color: #009eff}

.top-mobile button{background: white; color: #009eff; width: 35px;height: 40px; border: none; outline: none; border-radius: 5px}

.top-mobile .fa-search{transform: translateX(7px); color: white; font-size: 25px}
.logo input{width: 100%;display: none;}
.logo, .find{text-align: center}

.find{margin-top: 15px}

.list-button{margin-top: 30px}

.list-button button:hover{color:#009eff }

.list-button button{color: #525252; background: white; outline: none; border: 1px solid #e5e8e8; height: 35px;width: 50px; border-radius:5px;
margin-right: 10px; box-shadow: 1px 8px 6px -6px #a5a3a3 }

.list, .statistic, .check{float: left; border: 1px solid #dedfdf; padding: 8px;font-size: 13px; margin-top: 30px;
     cursor: pointer;width: 90px; text-align: center; color: white;}

.statistic, .check{color:#525252; border-left:none  }

.list{ border-bottom-left-radius: 8px; border-top-left-radius: 8px;background: linear-gradient(to right, #13b8ee, #02a1fd)}

.statistic:hover{background:#02a1fd; color: white }

.check{ border-bottom-right-radius: 8px; border-top-right-radius: 8px;}

.check:hover{background:linear-gradient(to right, #02a1fd, #13b8ee); color: white}

.main-lesson{margin-top: 30px;}
.well{background: white; padding: 10px; border-radius:10px; position: relative; }
.play{position: absolute; left: 10px;bottom: 9px}
.well span, .well p{font-size: 13px; color: #777777;}
.main-mobile{margin-top: 30px}

.footer{background: #12233b; padding: 25px 50px 0 50px; margin-top: 20px}
.content{padding: 10px; color: #838c9a; font-size: 13px}
.btn-app-store{
    background: transparent;
	color: white;
	position: relative;
	height: 45px;
	padding-left: 40px;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid white; border-radius:40px ;
    outline: none
   
}
.btn-app-store:hover{background: transparent; border: 2px solid white}
.btn-app-store i{
	font-size: 25px;
	position: absolute;
	left: 10px;
}
.btn-app-store .small{
	display: block;
	font-size: 10px;
	line-height: 12px;
	margin-bottom: 2px;
}
.btn-app-store .big{
	display: block;
	text-align: left;
	font-size: 14px;
	line-height: 20px;
}

.google{
    background: white
}
.imformation{padding: 20px ;  text-align: center}
.imformation ul{list-style: none;}
.imformation li{display: inline;padding: 15px;}
.imformation li a{color: white}

@media only screen and (min-width: 999px){
    .top-mobile {display: none;}
}
@media only screen and (max-width: 998px){
    .header-menu{
        display: none
    }
    
}