*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
    border-radius: 4px;
 
    width: 100%;
    padding: 0 20%

}
.wrapper{border:1px solid #e9eaeb ;padding: 0 60px}
.button{width: 100%;text-align: center}
.head{width: 100%;}
.btn-primary{
    background: linear-gradient(to right, #14baed,#0caef5,#02a0fd );
    padding: 10px;
    border: none;
    width: 40%;
   
}
.main-left{width: 50%; float: left;}
.main-right{width: 50%;float: left;padding-left: 100px}
.main-content{
    color: #626262;
    margin-top: 30px
}
.dropdown{
    border: 1px solid #e9eaeb;
    width: 80%;
    padding: 4px 10px;
    border-radius:4px ;
    text-align: left;
    background: white;
    position: relative;
}
.main-left-upper{width: 50%;float: left; padding-bottom: 100px}
.main-right-upper{width: 50%; float: left;padding-left: 100px}
.dropdown span{ margin-left: 70px}
.dropdown ul {list-style: none;}
.dropdown li{padding: 10px;
    border: 1px solid #e9eaeb;
    background: white;
}
.dropdown-content{
    position: absolute;
    
    z-index: 1;
    width: 100%;
   left: 0;
    display: none;
}
.distant{margin-left: 40px}
.check{
    border: 1px solid #e9eaeb;
    background: white;
    width: 25px;
    height: 25px;
    border-radius:4px;
    color: #29bdf2; 
    position: absolute;
    
}
.fa-check{
    display: none;
}
.dung{position: relative;}
.dung input{cursor: pointer;}
.dung .distant{margin-left: 40px}

.dropdown-content .fa-check{color: #29bdf2; position: absolute; left:-55px ;top:15px;z-index: 9999; display: none}
.button-check{color: #9a9a9a;margin-top: 10px;position: relative;cursor: pointer;}

.content{margin-top: 20px; font-weight: 700}
.dropdown-question{background: white; width: 70px; border:1px solid #e9eaeb; border-radius:4px; position: relative; }
.dropdown-content-question{list-style: none; z-index: 9999; display: none;position: absolute;width: 100%; background: white;}
.dropdown-content-question li{border: 1px solid #e9eaeb; z-index: 1;}
 @media screen and (max-width: 980px){
.container{padding: 0}
 }
 @media screen and (max-width: 700px){
    .main-left{width: 100%}
    .main-right{width: 100%;padding-left: 0px}
     }
@media screen and (max-width: 400px){
    .btn-primary{width: 100%;}
    .dropdown{width: 100%;}
    .main-left-upper{width: 100%; padding: 0}
    .main-right-upper{width: 100%;padding-left: 0px; padding-bottom: 100px}

         }
 input{
    background: red
}
