*{padding: 0; margin: 0; box-sizing: border-box}
body{background: url(../images/watch.JPG); position: center;background-size:cover; }
.header h1{color: white; text-align: center}
.btn-danger{outline: none; border: none}
.timetable{height: auto;background: white; margin: 20px ; border-radius:10px; padding: 10px 0 }
.timetable h2{color: red; text-align: center}
.timetable table, tr , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 20px;
    margin: 0 auto; text-align: center;
  }
  .form-control{margin: 0 auto}
 label{margin-left: 10%; margin-top: 10px}
.form-control{width: 50%;}