<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Thời khóa biểu</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/time.PNG">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style2.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/angular.js"></script>

</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="header">
                <h1>My Tabletime Today</h1>
            </div>
            <p style="color:white">Click me to show your Timetable</p>
            <div class="main" ng-app="myApp" ng-controller="myController">
                <button class="btn btn-success" ng-click="showTimetable()">Click me</button>

                <div class="timetable" ng-show="showMe">

                    <h2>Today's work</h2>

                    <table>
                        <tr>
                            <td>Order</td>
                            <td>Action</td>
                            <td>Note</td>
                            <td>Delete</td>
                            <td>Edit</td>
                        </tr>

                        <tr ng-repeat="action in list track by $index" ng-hide="hideme">
                            <td>{{$index + 1}}</td>
                            <td>{{action.Action | uppercase}}</td>
                            <td>{{action.Note}}</td>
                            <td>
                                <button class="btn btn-danger" ng-click="deleteRow($index)">Delete</button>
                            </td>
                            <td><button class="btn btn-primary" ng-click="edit(action, $index)">Edit</button></td>
                        </tr>
                        


                        <tr ng-show="show">
                            <td>{{newValue.stt + 1}}</td>
                            <td><input type="text" ng-model="newValue.Action" /></td>
                            <td><input type="text" ng-model="newValue.Note" /></td>
                            </td>
                            <td>
                                <button ng-click="saveContact(newValue)">Save</button>
                                <button ng-click="reset(old)">Cancel</button>
                            </td>
                        </tr>
                    </table>

                    

                   
                    <form class="addRow" ng-submit="addRow()">
                        <div class="form-group">
                            <label>Action:</label>
                            <input type="text" class="form-control" name="action" ng-model="action">
                        </div>
                        <div class="form-group">
                            <label>Note:</label>
                            <input type="text" class="form-control" name="note" ng-model="note">
                        </div>
                        <div class="form-group">								
                                <div style="padding-left:110px">
                                    <input type="submit" value="Submit" class="btn btn-primary"/>
                                </div>
                            </div>
                        </form>


                </div>
            </div>
        </div>
    </div>
</body>

</html>