<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quản lý học sinh</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/angular1.js"></script>
    <style>
        table,
        td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 10px;
            text-align: center;

        }


        .main {
            margin-top: 20px
        }

        ::placeholder {
            color: orangered;
            opacity: 0.7;
            font-size: 12px;
        }

        .input {
            margin: 20px 0
        }

        .input input {
            width: 100%;
            border-radius: 5px;
            padding: 5px;
            border: 1px solid #cccccc;
            outline: none;
        }

        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }

        table tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="myController">
    <div class="container">
        <div class="row">
            <div class="col-md-12 input">
                <!-- <div class="form-group"> -->
                <input type="text" placeholder="Search name..." name="name" ng-model="test.Name">
                <!-- </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-12 ">
                <table>
                    <tr>
                        <td>Order</td>
                        <td>Name</td>
                        <td>Year of birth</td>
                        <td>Student code</td>
                        <td>Major</td>
                        <td>Remove</td>
                        <td>Edit</td>
                    </tr>

                    <tr ng-repeat="x in listStudent | filter:test track by $index">
                        <td>{{$index + 1}}</td>
                        <td>{{x.Name}}</td>
                        <td>{{x.Yearofbirth}}</td>
                        <td>{{x.Studentcode}}</td>
                        <td>{{x.Major}}</td>
                        <td>
                            <button class="btn btn-danger" ng-click="deleteRow($index)">Remove</button>
                        </td>
                        <td>
                            <button class="btn btn-info" ng-click="Edit(x, $index)">Edit</button>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="main">
                    <form class="addRow" ng-submit="addRow()">
                        <div class="form-group">
                            <input type="text" placeholder="Name" class="form-control" name="name" ng-model="newValue.Name">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Year of birth" class="form-control" name="yearofbirth" ng-model="newValue.Yearofbirth">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Student code" class="form-control" name="studentcode" ng-model="newValue.Studentcode">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Major" class="form-control" name="major" ng-model="newValue.Major">
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary" ng-if="submit" />
                    </form>



                </div>
                <div ng-if="savecancel">
                    <button class="btn btn-success" ng-click="saveMe(newValue)">Save</button>
                    <button class="btn btn-warning" ng-click="cancelMe(currentValue)">Cancel</button>
                </div>
            </div>
        </div>
    </div>


</body>

</html>